
header{
	color: rgb(255, 153, 0);
	font:'Star Jedi', arial;;

}

	
	body {
		color: whitesmoke !important;
		background-color: black;
		background-image: url("assets/images/swbackground.jpg");
		background-position: center;
		background-size: 1300px;
		background-repeat: no-repeat;
		
		font-size: 1.1em !important;
		font-family: 'Rubik Mono One', sans-serif;;
align-content: center
	}
	.img-fluid{
		width: 1296px;
		clear: auto;
	}
	.shadow {
		text-shadow: 2px 1px 4px rgb(0, 0, 0);
	}
	
	#firstScreen {
		min-height: 100%;
		position: absolute;
		text-align: center;
		padding-top: 5%;
		color: whitesmoke;
		align-content: center;
	}
	
	.ctr {
		margin: 0 auto !important;
		text-align: center;
	}
a
