#fighters{
	display: table;
	clear: both;
	width: 1000px;
    margin: 0 auto 0 auto;
    display: inline-block;

}

#yoda{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 15px;
	width: 150px;
	padding: 15px;
	width: 100px;
	height:100px;
	object-fit: contain;

	max-height: 100px;
	max-width: 100px;
	position: relative;
}
#macewindu{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 15px;
	width: 150px;
	padding: 15px;
	width: 100px;
	height:200px;
	object-fit: contain;

max-height: 100px;
	max-width: 100px;
	
}
#anakin{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 15px;
	width: 150px;
	padding: 15px;
	width: 100px;
	height:100px;
	object-fit: contain;
	
	max-height: 100px;
	max-width: 100px;
	position: relative;
}
#darthmaul{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 15px;
	width: 150px;
	padding: 15px;
	width: 100px;
	height:100px;
	
	
	max-height: 100px;
	max-width: 100px;
	position: absolute;
}
.flex-container{
	display: flex;
	width: 1000px;
    margin: 0 auto 0 auto;
    display: inline-block;
}